# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build*/
*.pro.user*
CMakeLists.txt.user*
*.DS_Store
*.qm
.directory

# binary file
src/lightdm
src/lightdm-guest-session

.vscode

*.plo
*.gmo

autom4te.cache/*

common/Makefile
common/Makefile.in
common/.deps/libcommon_la-configuration.Plo
common/.deps/libcommon_la-dmrc.Plo
common/.deps/libcommon_la-privileges.Plo
common/.deps/libcommon_la-user-list.Plo

data/lightdm-guest-session
data/Makefile
data/Makefile.in
data/org.freedesktop.DisplayManager.AccountsService.policy

doc/Makefile
doc/Makefile.in

help/Makefile
help/Makefile.in

liblightdm-gobject/liblightdm-gobject-1.pc
liblightdm-gobject/liblightdm-gobject-1.vapi
liblightdm-gobject/LightDM-1.gir
liblightdm-gobject/LightDM-1.typelib
liblightdm-gobject/Makefile
liblightdm-gobject/Makefile.in
liblightdm-gobject/.deps/liblightdm_gobject_1_la-greeter.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-language.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-layout.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-power.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-session.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-system.Plo
liblightdm-gobject/.deps/liblightdm_gobject_1_la-user.Plo
liblightdm-gobject/.libs/liblightdm-gobject-1.exp
liblightdm-gobject/.libs/liblightdm-gobject-1.so.0
liblightdm-gobject/.libs/liblightdm-gobject-1.so.0.0.0
liblightdm-gobject/.libs/liblightdm-gobject-1.ver

liblightdm-qt/greeter_moc5.cpp
liblightdm-qt/liblightdm-qt5-3.pc
liblightdm-qt/Makefile
liblightdm-qt/Makefile.in
liblightdm-qt/power_moc5.cpp
liblightdm-qt/sessionsmodel_moc5.cpp
liblightdm-qt/usersmodel_moc5.cpp
liblightdm-qt/.deps/liblightdm_qt5_3_la-greeter.Plo
liblightdm-qt/.deps/liblightdm_qt5_3_la-power.Plo
liblightdm-qt/.deps/liblightdm_qt5_3_la-sessionsmodel.Plo
liblightdm-qt/.deps/liblightdm_qt5_3_la-usersmodel.Plo
liblightdm-qt/.libs/liblightdm-qt5-3.so.0
liblightdm-qt/.libs/liblightdm-qt5-3.so.0.0.0

m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it

src/dm-tool
src/Makefile
src/Makefile.in
src/.deps/dm_tool-dm-tool.Po
src/.deps/lightdm_guest_session-lightdm-guest-session.Po
src/.deps/lightdm-accounts.Po
src/.deps/lightdm-console-kit.Po
src/.deps/lightdm-display-manager-service.Po
src/.deps/lightdm-display-manager.Po
src/.deps/lightdm-display-server.Po
src/.deps/lightdm-greeter-session.Po
src/.deps/lightdm-greeter-socket.Po
src/.deps/lightdm-greeter.Po
src/.deps/lightdm-guest-account.Po
src/.deps/lightdm-lightdm.Po
src/.deps/lightdm-log-file.Po
src/.deps/lightdm-logger.Po
src/.deps/lightdm-login1.Po
src/.deps/lightdm-plymouth.Po
src/.deps/lightdm-process.Po
src/.deps/lightdm-seat-local.Po
src/.deps/lightdm-seat-xdmcp-session.Po
src/.deps/lightdm-seat-xremote.Po
src/.deps/lightdm-seat-xvnc.Po
src/.deps/lightdm-seat.Po
src/.deps/lightdm-session-child.Po
src/.deps/lightdm-session-config.Po
src/.deps/lightdm-session.Po
src/.deps/lightdm-shared-data-manager.Po
src/.deps/lightdm-vnc-server.Po
src/.deps/lightdm-vt.Po
src/.deps/lightdm-wayland-session.Po
src/.deps/lightdm-x-authority.Po
src/.deps/lightdm-x-server-local.Po
src/.deps/lightdm-x-server-remote.Po
src/.deps/lightdm-x-server-xvnc.Po
src/.deps/lightdm-x-server.Po
src/.deps/lightdm-xdmcp-protocol.Po
src/.deps/lightdm-xdmcp-server.Po
src/.deps/lightdm-xdmcp-session.Po

tests/Makefile
tests/Makefile.in
tests/src/dbus-env
tests/src/guest-account
tests/src/initctl
tests/src/Makefile
tests/src/Makefile.in
tests/src/plymouth
tests/src/test-gobject-greeter
tests/src/test-greeter-wrapper
tests/src/test-guest-wrapper
tests/src/test-qt5-greeter
tests/src/test-qt5-greeter_moc5.cpp
tests/src/test-runner
tests/src/test-script-hook
tests/src/test-session
tests/src/vnc-client
tests/src/X
tests/src/Xvnc
tests/src/.deps/dbus_env-dbus-env.Po
tests/src/.deps/guest_account-guest-account.Po
tests/src/.deps/guest_account-status.Po
tests/src/.deps/initctl-initctl.Po
tests/src/.deps/initctl-status.Po
tests/src/.deps/libsystem_la-libsystem.Plo
tests/src/.deps/libsystem_la-status.Plo
tests/src/.deps/plymouth-plymouth.Po
tests/src/.deps/plymouth-status.Po
tests/src/.deps/test_gobject_greeter-status.Po
tests/src/.deps/test_gobject_greeter-test-gobject-greeter.Po
tests/src/.deps/test_greeter_wrapper-status.Po
tests/src/.deps/test_greeter_wrapper-test-greeter-wrapper.Po
tests/src/.deps/test_guest_wrapper-status.Po
tests/src/.deps/test_guest_wrapper-test-guest-wrapper.Po
tests/src/.deps/test_qt5_greeter-status.Po
tests/src/.deps/test_qt5_greeter-test-qt-greeter.Po
tests/src/.deps/test_qt5_greeter-test-qt5-greeter_moc5.Po
tests/src/.deps/test_runner-test-runner.Po
tests/src/.deps/test_script_hook-status.Po
tests/src/.deps/test_script_hook-test-script-hook.Po
tests/src/.deps/test_session-status.Po
tests/src/.deps/test_session-test-session.Po
tests/src/.deps/vnc_client-status.Po
tests/src/.deps/vnc_client-vnc-client.Po
tests/src/.deps/X-status.Po
tests/src/.deps/X-x-authority.Po
tests/src/.deps/X-x-common.Po
tests/src/.deps/X-x-server.Po
tests/src/.deps/X-X.Po
tests/src/.deps/X-xdmcp-client.Po
tests/src/.deps/Xvnc-status.Po
tests/src/.deps/Xvnc-x-authority.Po
tests/src/.deps/Xvnc-x-common.Po
tests/src/.deps/Xvnc-x-server.Po
tests/src/.deps/Xvnc-Xvnc.Po
tests/src/.libs/libsystem.so.0
tests/src/.libs/libsystem.so.0.0.0
tests/src/.libs/test-gobject-greeter
tests/src/.libs/test-qt5-greeter
tests/src/.libs/test-session

aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
test-driver
