[Desktop Entry]
Name=LightDM GTK+ Greeter
Comment=This runs the GTK+ greeter, it should only be run from LightDM
Exec=lightdm-gtk-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
