[Unit]
Description=Reset /etc/issue after LightDM starts successfully
Requires=lightdm.service
After=lightdm.service

[Service]
Type=oneshot
ExecStart=/bin/mv /etc/issue.restore /etc/issue

[Install]
WantedBy=graphical.target
