[Unit]
Description=Light Display Manager
Documentation=man:lightdm(1)
Conflicts=getty@tty7.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service systemd-hostnamed.service
StartLimitIntervalSec=60s
StartLimitBurst=5
OnFailure=lightdm-failure-handler.service

[Service]
ExecStart=/usr/sbin/lightdm
Restart=always
RestartSec=5s
BusName=org.freedesktop.DisplayManager
