[Unit]
Description=Reset /etc/issue after LightDM starts successfully
Requires=lightdm.service
After=lightdm.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'test -f /etc/issue.restore && mv /etc/issue.restore /etc/issue || echo "File /etc/issue.restore not found. No restore action needed."'

[Install]
WantedBy=graphical.target
